body {
     margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f8ff;
    color: #333;
}
header {
  background-color: #0077b6;
  color: white;
  padding: 20px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

.content {
  text-align: center;
  margin-top: 80px;
}

.content h2 {
  color: #0077b6;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #0077b6;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.btn:hover {
  background-color: #005f8a;
}